<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact V12</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ url_for('static',filename='images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/animate/animate.css')}}">
<!--===============================================================================================-->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
    
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
    
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/util.css') }}">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
	<link rel= "stylesheet" type= "text/css" href= "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
<!--===============================================================================================-->
</head>
<body>
	<form method="POST">
	<div id="yourdivId" class="bg-contact100" style="background-image: url('https://store-images.s-microsoft.com/image/apps.25532.70222240565100850.b7bb7fed-111f-4c72-b8c3-85a647cdf303.3925a5a5-fd66-4d4d-b739-e68ff76ac9e1?mode=scale&q=90&h=1080&w=1920');">
		{% for message in get_flashed_messages() %}
				<div class="alert alert-warning">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ message }}
				</div>
		{% endfor %}
		
		<div class="container-contact100">

			

			<div class="wrap-contact100">
				
				

				<h3 class="title">Settings</h3>
					<div class="container">
						<div class="row">
							<h5 value="path" name="name" class="font-weight-bold">KF2 PATH: {{ kf_path }} </h5>
							<button type="submit" class="contact100-form-btn custom1 col-2" name="path" value="path">
								<svg width="2em" height="1em" viewBox="0 0 16 16" class="bi bi-folder" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.828 4a3 3 0 0 1-2.12-.879l-.83-.828A1 1 0 0 0 6.173 2H2.5a1 1 0 0 0-1 .981L1.546 4h-1L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3v1z"/>
                                    <path fill-rule="evenodd" d="M13.81 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zM2.19 3A2 2 0 0 0 .198 5.181l.637 7A2 2 0 0 0 2.826 14h10.348a2 2 0 0 0 1.991-1.819l.637-7A2 2 0 0 0 13.81 3H2.19z"/>
                                </svg>
								Path to KF2
                            </button>
                            <button type="submit" class="contact100-form-btn custom1 col-2" name="mods" value="mods">
								Mods
                            </button>
                            <h5 value="path" name="name" class="font-weight-bold">Mods Download Folder: {{ mod_path }} </h5>
                            
						</div>
				  	</div>
					
					
					

    			

				
			</div>
		</div>

	</div>
	</form>





	<script >
		// Closes alert div 
		const closed = () => {
			let alertBtn = document.querySelector(".alert-warning");
			let btnClose = document.querySelector("button");
			
			btnClose.addEventListener('click', () => {
				alertBtn.remove();
			})
		}

		closed();
	</script>

<!--===============================================================================================-->


<!-- Global site tag (gtag.js) - Google Analytics -->



</body>
</html>
